<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
   
    <div class="login-container">
      <h2>Login</h2>
      <form action="/login" method ="post">
          <label for="username">Username:</label>
          <input  type="text" id="username" name="username" required>

          <label for="password">password</label>
          <input name ="password"  type="password" id="password" required>


          <button type="submit" value="Login"><a><a>Login</a></button>

          <button><a href="/register">Register</a></button>


      </form>
  </div>

  </body>
</html>
